#PageContainer{
  margin: 0;
  height: 300vh;
  width: 100vw;
  padding: 0px;
  transform-style: preserve-3d;
  perspective: 2px;
  
}
#PageContainer>div
{
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  /* transform: translateZ(0); */
}
/* App.css */
.parallax {
  transition: transform 0.2s ease-out; /* Apply a smooth transition */
}

#p1 {
  transform: translateY(var(--fact1, 0px));
}

#p2 {
  transform: translateY(var(--fact2, 0px));
}

#p3 {
  transform: translateY(var(--fact3, 0px));
}
