#ProfessionalExperience{
    background-color: bisque;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header{
display: flex;
flex: 2 1;
width: 100%;
height: 100%;
background-color: aqua;
}
#projectscontainer{
display:flex;
flex:10 1;
width: 100%;
height: 100%;
background-color: pink;
overflow-y: auto;
overflow-x: auto;
}
#footer{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
flex: 1 1;
width: 100%;
height: 100%;
background-color:brown;
}
#footertext{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}