.projectcards{
flex:  1;
background-color: red;
width: 250px;
height: 300px;
margin: 20px;
border-radius: 10%;
box-shadow: 0px 0px 10px 10px white;
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
flex-wrap: wrap;
padding: 15px;
}
.projectcards:hover{
    box-shadow:  0px 0px 10px 10px yellow;
}
#title{

    font-family:'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

#description{
 
    font-family:'Courier New', Courier, monospace;
text-align: center;
}
#descriptioncontainer{
    flex:3;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow-x: auto;
    overflow-y: auto;
}
#descriptioncontainer::-webkit-scrollbar{
    display: none;
}
#titlecontainer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow-x: auto;
    overflow-y: auto;
}
#titlecontainer::-webkit-scrollbar {
display: none;
}
#gitcontain{
    flex: 1;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    overflow-y: auto;
}
#gitlink{
    display: block;
}